@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn, .btn-reverse {
    @apply gap-2 px-6 py-2
      text-white
      text-button;

    display: flex;
    position: relative;
    align-items: center;
    border-radius: 9999px;
  }

  .btn-reverse::before {
    @apply w-12 h-5;

    content: "";
    display: block;
    background-image: url("/semi-divisa-botao-esquerda.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn::after {
    @apply w-12 h-5;

    content: "";
    display: block;
    background-image: url("/semi-divisa-botao-direita-BRANCO.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Custom styles for background patterns and decorative elements */
  .bg-arabesco-left {
    background-image: url("/arabesco.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .bg-arabesco-right {
    background-image: url("/arabesco.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
  }
}
