@tailwind base;
@tailwind components;
@tailwind utilities;

.img-group {
    transition: 0.5s;
}

/* Left one */
.img-group:nth-child(odd) {
    animation: slidein-ltr 1.2s forwards;
}

@keyframes slidein-ltr {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

/* Right one */
.img-group:nth-child(even) {
    animation: slidein-rtl 1.2s forwards;
}

@keyframes slidein-rtl {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}